<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>
    <!-- Styles -->
    <link rel="stylesheet" href="./hero-section.css">
</head>
<body>
    <!-- Hero Section Starts -->
    <section class="gwpf-hero-section-wrapper">
        <div class="gwpf-container gwpf-hero-section-container">
            <div class="gwpf-hero-text-wrapper">
                <!-- Hero Section Heading Starts -->
                <h1 class="gwpf-hero-section-heading">
                    Optimize Your Conversion Rates With A/B Split Testing
                </h1>
                <!-- Hero Section Heading Ends -->

                <!-- Hero Section Paragraph Starts -->
                <p class="gwpf-section-text">
                    Experiment with multiple page variations or offers to develop the perfect funnel with maximum conversions & ROI.
                </p>
                <!-- Hero Section Paragraph Ends -->

                <!-- Hero Section Button Starts -->
                <button class="gwpf-primary-btn">
                    Get WPFunenls Now 

                     <!-- Button Icon  -->
                    <svg xmlns="http://www.w3.org/2000/svg" width="15" height="12" viewBox="0 0 15 12" fill="none"><path d="M8.47835 0.00203133C8.71704 0.00542831 8.94469 0.10298 9.11177 0.27347L14.2333 5.38555C14.5881 5.73744 14.5905 6.31032 14.2386 6.66512C14.2368 6.66688 14.2351 6.66864 14.2333 6.67036L9.11174 11.7824C8.73217 12.1075 8.16094 12.0633 7.83588 11.6837C7.54576 11.345 7.54576 10.8454 7.83588 10.5067L12.315 6.02794L7.79064 1.54922C7.4398 1.19633 7.4398 0.626369 7.79064 0.27347C7.97077 0.0892143 8.2209 -0.00952911 8.47835 0.00203133Z" fill="white"/><path d="M0.904492 5.12188H13.5727C14.0724 5.12188 14.4775 5.52702 14.4775 6.02676C14.4775 6.52651 14.0724 6.93164 13.5727 6.93164H0.904492C0.404748 6.93164 -0.000387192 6.52651 -0.000387192 6.02676C-0.000387192 5.52702 0.404748 5.12188 0.904492 5.12188Z" fill="white"/></svg>
                    <!-- Button Icon  -->
                </button>
                <!-- Hero Section Button Starts -->

            </div>

            <div class="gwpf-hero-image-wrapper">
                <!-- Hero Section Image Starts-->
                <figure>
                    <img src="assets/hero-image.png" alt="Optimize Your Conversion Rates With A/B Split Testing with WPFunnel" class="gwpf-hero-image" fetchPriority="high">
                </figure>
                <!-- Hero Section Image Ends-->
            </div>
        </div>
    </section>
    <!-- Hero Section Ends -->
</body>
</html>