<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQ Section</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
     <!-- Accordion Starts -->
     <div class="wpfnl-accordion">
        <div class="wpfnl-accordion-item open">
          <div class="wpfnl-accordion-item-header">
            <h3 class="wpfnl-accordion-item-header-title">
                What makes WPFunnels unique from other funnel builders?
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down wpfnl-accordion-item-header-icon">
              <path d="m6 9 6 6 6-6" />
            </svg>
          </div>
          <div class="wpfnl-accordion-item-description-wrapper">
            <div class="wpfnl-accordion-item-description">
              <p>WPFunnels is the first-ever canvas-based sales funnel builder in WordPress where you can visually plan your funnel flows on a drag-and-drop canvas – you have complete control over your funnel!
                No need to use multiple tools to create or track your funnels. You get to control everything from planning your funnel to launching a live sales campaign in 1 place.</p>
            </div>
          </div>
        </div>
        <div class="wpfnl-accordion-item">
          <div class="wpfnl-accordion-item-header">
            <h3 class="wpfnl-accordion-item-header-title">
                What payment gateways does WPFunnels support?
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down wpfnl-accordion-item-header-icon">
              <path d="m6 9 6 6 6-6" />
            </svg>
          </div>
          <div class="wpfnl-accordion-item-description-wrapper">
            <div class="wpfnl-accordion-item-description">
              <p>This is the description for Accordion Item 2. This is the description for Accordion Item 2. This is the description for Accordion Item 2. This is the description for Accordion Item 2.</p>
            </div>
          </div>
        </div>
        <div class="wpfnl-accordion-item">
          <div class="wpfnl-accordion-item-header">
            <h3 class="wpfnl-accordion-item-header-title">
                Can I make offers in my existing WooCommerce store?    
            </h3>
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down wpfnl-accordion-item-header-icon">
              <path d="m6 9 6 6 6-6" />
            </svg>
          </div>
          <div class="wpfnl-accordion-item-description-wrapper">
            <div class="wpfnl-accordion-item-description">
              <p>This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3.</p>
            </div>
          </div>
        </div>

        <div class="wpfnl-accordion-item">
            <div class="wpfnl-accordion-item-header">
              <h3 class="wpfnl-accordion-item-header-title">
                    What Page builders do WPFunnels support? 
              </h3>
              <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-down wpfnl-accordion-item-header-icon">
                <path d="m6 9 6 6 6-6" />
              </svg>
            </div>
            <div class="wpfnl-accordion-item-description-wrapper">
              <div class="wpfnl-accordion-item-description">
                <p>This is the description for Accordion Item 4. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3. This is the description for Accordion Item 3.</p>
              </div>
            </div>
          </div>
      </div>
    <!-- Accordion Ends -->

    <script src="script.js"></script>
</body>
</html>