/* Rest CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

figure{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    padding:120px 0;
}

p{
    color: #0E1D3F;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

p.gwpf-card-text{
    color: #3E3E42;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

h1{
    font-family: "Circular Std";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -1.61px;
}
h2{
    text-align: center;
    font-family: "Circular Std";
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: -1px;
}
.gwpf-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1380px;
    padding: 0 15px;
}

.gwpf-gradient-text{
    background: linear-gradient(173deg, #6E42D3 -5.05%, #13071C 47.9%, #262DF3 70.8%, #DF52FF 95.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gwpf-primary-btn{
    border-radius: 16px;
    border: 1px solid #080CCF;
    background: linear-gradient(94deg, #060FEF 4.33%, #573BFF 50.88%, #09B8FB 98.87%, #0AB7FB 99.34%, #02C4FB 99.34%);
    box-shadow: 0px 10px 20px 0px rgba(134, 135, 244, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "Circular Std";
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 10px; 
    padding: 25px 30px;
    cursor: pointer;
}
.gwpf-btn-outline{
    background: none;
    border: 1px solid;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: #0E1D3F;
    text-align: center;
    font-family: "Circular Std";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    cursor: pointer;
    border-radius: 16px;
    padding: 15px;
    border-color: snow;
}

.gwpf-btn-outline:hover{
    border-color: #5B26C6;
}

.gwpf-btn-full-round{
    background: no-repeat;
    border: 1px solid #6F42D4;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
}

.gwpf-btn{
    background: none;
    border: 1px solid #6F42D4;
    color: #FFF;
    font-family: "Circular Std";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.3px;
    padding: 18px 30px;
    border-radius: 30px;
    cursor: pointer;
}

/* Hero Section Starts */
.gwpf-hero-section-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
}

.gwpf-hero-section-wrapper .gwpf-hero-section-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper{
    width: 80%;
}

.gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-hero-section-heading.gwpf-gradient-text{
    background: linear-gradient(159deg, #0E1D3F 18.59%, #050DFF 59.74%, #06DEFF 82.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-section-text{
    color: #3F4654;
    text-align: left;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 30px;
    width: 80%;
}
/* Hero Section Ends */



/* Responsive styles */
@media only screen and (max-width: 1399px) {
  .gwpf-container {
        max-width: 1170px;
  }
  .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-section-text{
    width: 100%;
  }
}

@media only screen and (max-width: 1199px) {
  .gwpf-container{
        max-width: 960px;
  }
  .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper{
    width: 100%;
  }
  .gwpf-hero-section-wrapper{
    background-image: none;
  }
  
}

@media only screen and (max-width: 991px) {
    h1{
        font-size: 34px;
        line-height: 40px;
    }
    h2{
        font-size: 30px;
        line-height: 36px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    section{
        padding:50px 0;
    }
    .gwpf-container {
        max-width: 720px;
    }
    .gwpf-primary-btn{
        font-size: 14px;
        line-height: 14px;
        padding: 16px 24px;
    }

    /* Hero Section */
    .gwpf-hero-section-wrapper{
        padding: 50px 0;
    }
    .gwpf-hero-section-wrapper .gwpf-hero-section-container{
        grid-template-columns: 1fr;
    }
    .gwpf-hero-image-wrapper{
        width: 80%;
        margin: auto;
    }
    .gwpf-container.gwpf-hero-section-container{
        text-align: center;
    }
    .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-section-text{
        margin: auto;
        margin-bottom: 18px;
    }
    .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-hero-section-heading{
        margin-bottom: 18px;
    }
    
    .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-section-text{
        margin-bottom: 18px;
        text-align: center;
    }
    
}

@media only screen and (max-width: 767px) {
    .gwpf-container {
        max-width: 540px;
    }
    
    
}

@media only screen and (max-width: 575px) {
    .gwpf-hero-image-wrapper{
        width: 100%;
    }
}