/* Rest CSS */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

figure{
    margin: 0;
    padding: 0;
}

img{
    max-width: 100%;
    height: auto;
}

section{
    padding:120px 0;
}

p{
    color: #0E1D3F;
    text-align: center;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}

p.gwpf-card-text{
    color: #3E3E42;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

h1{
    font-family: "Circular Std";
    font-size: 60px;
    font-style: normal;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: -1.61px;
}
h2{
    text-align: center;
    font-family: "Circular Std";
    font-size: 52px;
    font-style: normal;
    font-weight: 900;
    line-height: 58px;
    letter-spacing: -1px;
}
h3{
    color: #0E1D3F;
    font-family: "Circular Std";
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 1; 
    letter-spacing: -1.61px;
    margin-bottom: 40px;
}
.gwpf-container{
    width: 100%;
    margin: 0 auto;
    max-width: 1380px;
    padding: 0 15px;
}

.gwpf-gradient-text{
    background: linear-gradient(173deg, #6E42D3 -5.05%, #13071C 47.9%, #262DF3 70.8%, #DF52FF 95.12%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.gwpf-primary-btn{
    border-radius: 16px;
    border: 1px solid #080CCF;
    background: linear-gradient(94deg, #060FEF 4.33%, #573BFF 50.88%, #09B8FB 98.87%, #0AB7FB 99.34%, #02C4FB 99.34%);
    box-shadow: 0px 10px 20px 0px rgba(134, 135, 244, 0.25);
    color: #FFF;
    text-align: center;
    font-family: "Circular Std";
    font-size: 18px;
    font-style: normal;
    font-weight: 450;
    line-height: 10px; 
    padding: 25px 30px;
    cursor: pointer;
}
.gwpf-btn-outline{
    background: none;
    border: 1px solid;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
    color: #0E1D3F;
    text-align: center;
    font-family: "Circular Std";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 10px;
    cursor: pointer;
    border-radius: 16px;
    padding: 15px;
    border-color: snow;
}

.gwpf-btn-outline:hover{
    border-color: #5B26C6;
}

.gwpf-btn-full-round{
    background: no-repeat;
    border: 1px solid #6F42D4;
    width: 50px;
    border-radius: 50%;
    height: 50px;
    cursor: pointer;
}

.gwpf-btn{
    background: none;
    border: 1px solid #6F42D4;
    color: #FFF;
    font-family: "Circular Std";
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: -0.3px;
    padding: 18px 30px;
    border-radius: 30px;
    cursor: pointer;
}

/* Hero Section Starts */
.gwpf-hero-section-wrapper{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: url(assets/hero-bg.png);
    background-repeat: no-repeat;
    background-position: left center;
    background-size: 100% 100%;
}

.gwpf-hero-section-wrapper .gwpf-hero-section-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    gap: 40px;
}

.gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper{
    width: 80%;
}

.gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-hero-section-heading.gwpf-gradient-text{
    background: linear-gradient(159deg, #0E1D3F 18.59%, #050DFF 59.74%, #06DEFF 82.31%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 30px;
}

.gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-section-text{
    color: #3F4654;
    text-align: left;
    font-family: Manrope;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
    margin-bottom: 30px;
    width: 80%;
}
/* Hero Section Ends */

/* Compare Section Starts */
.gwpf-compare-section-wrapper{
    padding: 0;
}

.gwpf-compare-section-wrapper .gwpf-compare-section-container{
    border-radius: 40px;
    border: 1px solid #EAEAEA;
    background:url('assets/container-bg.png') ,linear-gradient(180deg, #F3FAFA 0%, #FFF 100%);
    padding: 90px 70px 70px 120px;
    background-repeat: no-repeat;
}
.gwpf-compare-section-wrapper .gwpf-compare-section-container h2{
    background: linear-gradient(79deg, #6E42D3 14%, #13071C 36.59%, #262DF3 63.54%, #DF52FF 88.3%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    width: 70%;
    margin: auto;
}
.gwpf-compare-cards-wrapper{
    display: flex;
    gap: 60px;
    align-items: flex-start;
    margin-top: 70px;
}
.gwpf-compare-single-card {
    border-radius: 20px;
    border: 1px solid #EAEAEA;
    background: #FFF;
    box-shadow: 0px 20px 20px 0px rgba(208, 215, 242, 0.30);
    padding: 50px;
    width: calc(50% - 30px);
}
.gwpf-single-list{
    display: flex;
    gap: 29px;
    margin-bottom: 25px;
}

.gwpf-compare-single-card .gwpf-single-list span.gwpf-compare-card-text{
    color: #3E3E42;
    font-family: Inter;
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.6;
    margin-top: -8px;
}
.gwpf-compare-single-card.gwpf-compare-signle-card-proud{
    margin-top: 60px;
    position: relative;
    padding-top: 80px;
}
.gwpf-tic-icon{
    background: #19CCA3;
    width: 103px;
    height: 103px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    position: absolute;
    top: -12%;
    left: 40%;
}
/* Compare Section Ends */



/* Responsive styles */
@media only screen and (max-width: 1399px) {
  .gwpf-container {
        max-width: 1170px;
  }
  .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-section-text{
    width: 100%;
  }
}

@media only screen and (max-width: 1199px) {
  .gwpf-container{
        max-width: 960px;
  }
  .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper{
    width: 100%;
  }
  .gwpf-hero-section-wrapper{
    background-image: none;
  }
  .gwpf-compare-single-card{
    padding: 30px;
  }
  .gwpf-single-list{
    margin-bottom: 15px;
  }
  .gwpf-compare-section-wrapper .gwpf-compare-section-container h2{
    width: 90%;
  }
  .gwpf-compare-section-wrapper .gwpf-compare-section-container{
    padding: 90px 40px 70px 40px;
  }
  .gwpf-compare-single-card .gwpf-single-list span.gwpf-compare-card-text{
    font-size: 22px;
    margin-top: 0;
  }
  .gwpf-tic-icon {
    width: 80px;
    height: 80px;
  }
  
}

@media only screen and (max-width: 991px) {
    h1{
        font-size: 34px;
        line-height: 40px;
    }
    h2{
        font-size: 30px;
        line-height: 36px;
    }
    h3{
        font-size: 24px;
        margin-bottom: 20px;
    }
    p{
        font-size: 14px;
        line-height: 24px;
        text-align: center;
    }
    section{
        padding:50px 0;
    }
    .gwpf-container {
        max-width: 720px;
    }
    .gwpf-primary-btn{
        font-size: 14px;
        line-height: 14px;
        padding: 16px 24px;
    }

    /* Hero Section */
    .gwpf-hero-section-wrapper{
        padding: 50px 0;
    }
    .gwpf-hero-section-wrapper .gwpf-hero-section-container{
        grid-template-columns: 1fr;
    }
    .gwpf-hero-image-wrapper{
        width: 80%;
        margin: auto;
    }
    .gwpf-container.gwpf-hero-section-container{
        text-align: center;
    }
    .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-section-text{
        margin: auto;
        margin-bottom: 18px;
    }
    .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-hero-section-heading{
        margin-bottom: 18px;
    }
    
    .gwpf-hero-section-wrapper .gwpf-hero-section-container .gwpf-hero-text-wrapper .gwpf-section-text{
        margin-bottom: 18px;
        text-align: center;
    }
    .gwpf-compare-section-wrapper .gwpf-compare-section-container{
        width: 95%;
    }
    .gwpf-compare-cards-wrapper{
        margin-top: 50px;
        flex-direction: column;
        gap: 20px;
    }
    .gwpf-compare-single-card{
        width: 100%;
    }
    .gwpf-single-list{
        margin-bottom: 10px;
    }
    .gwpf-tic-icon {
        left: 45%;
    }
    .gwpf-compare-single-card .gwpf-single-list span.gwpf-compare-card-text{
        font-size: 18px;
    }
    .gwpf-compare-section-wrapper .gwpf-compare-section-container h2 {
        width: 100%;
    }
    
}

@media only screen and (max-width: 767px) {
    .gwpf-container {
        max-width: 540px;
    }
    .gwpf-compare-section-wrapper .gwpf-compare-section-container{
        padding: 25px;
    }
    .gwpf-compare-single-card.gwpf-compare-signle-card-proud{
        padding-top: 50px;
    }
    .gwpf-tic-icon{
        width: 60px;
        height: 60px;
        top: -10%;
        left: 42%;
    }
    .gwpf-tic-icon svg{
        width: 30px;
    }
    
    
}

@media only screen and (max-width: 575px) {
    .gwpf-hero-image-wrapper{
        width: 95%;
    }
}