<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CTA - Mail Mint</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="gwpf-cta-section-wrapper">
        <div class="gwpf-container gwpf-cta-section-container">
            <div class="gwpf-cta-section">
                <h2 class="gwpf-cta-heading">Automate Your Business with Mail Mint's Simplified Marketing Automation Workflows!</h2>
                <p class="gwpf-cta-text">With unlimited and diverse form types and , Mail Mint gives you ultimate flexibility in capturing more leads as you grow your business.</p>
                <button class="gwpf-primary-btn">Get Mail Mint Now</button>
            </div>
        </div>
    </section>
</body>
</html>