<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Card With Image - Section</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <section class="card-with-img-section-wrapper">
        <div class="gwpf-container card-with-img-section-container">
            <div class="gwpf-section-text-wrapper">
                <h2 class="gwpf-section-heading">Take Your Email Campaigns To The Next Level With Simple, Powerful Automation Using Mail Mint</h2>
                <p class="gwpf-section-text">Easily set up event-based triggers according to user actions to automate follow up emails for your every need.</p>
            </div>
            <div class="gwpf-cards-wrapper">
                <div class="gwpf-single-card">
                    <div class="gwpf-card-img-wrapper">
                        <figure><img src="./card-1.png" alt="Card 1"></figure>
                    </div>
                    <div class="gwpf-text-wrapper">
                        <h3 class="gwpf-card-heading">Boost Engagement through Precision Segmentation</h3>
                        <p class="gwpf-card-text">Seamlessly categorize contacts based on behavior, interests, and diverse attributes with automated precision.</p>
                    </div>
                </div>
                <div class="gwpf-single-card">
                    <div class="gwpf-card-img-wrapper">
                        <figure><img src="./card-2.png" alt="Card 2 Image"></figure>
                    </div>
                    <div class="gwpf-text-wrapper">
                        <h3 class="gwpf-card-heading">Perfect Timing, Perfect Messaging</h3>
                        <p class="gwpf-card-text">Capture customers’ attention at the perfect time with automated messages - from captivating welcome series to effective abandoned cart emails.</p>
                    </div>
                </div>
                <div class="gwpf-single-card">
                    <div class="gwpf-card-img-wrapper">
                        <figure><img src="./card-3.png" alt="Card 3 Image"></figure>
                    </div>
                    <div class="gwpf-text-wrapper">
                        <h3 class="gwpf-card-heading">Effortless Campaign Automation in Minutes</h3>
                        <p class="gwpf-card-text">Use an intuitive automation builder for popular WordPress platforms.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>